.alignCenter {
  text-align: center;
  @media (min-width: 768px) {
        text-align: left;
        background-color: white;
    }
}

.verticalAlign {
  @media (min-width: 768px) {
    margin-top: 7px;
  }
}

.redirectIcon {
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

.navLinks {
    background-color: black;
    color: white;
}

.borderX {
  border: 10px solid;
  border-color: black;
}

#navTextLeft {
  font-size: 30px;
  display: block;
  background-color: black;
}

#JoannaWheeler {
    background-color: white;
    border: 10px solid;
    border-color: white;
}

h3 {
  color: green
}
